html,
body {
  background-color: #292929;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1 {
  color: #a5ea9b;
  text-align: center;
}

#one {
  color: #7ed1e2;
  text-align: center;
}

#two {
  color: #cebbff;
  text-align: center;
  padding-bottom: 80px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
